registry=https://registry.npmjs.org/
fetch-retries=3
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
audit=false
fund=false
legacy-peer-deps=false
strict-peer-deps=false
